poker-hand {
  display: flex;
  flex-orientation: row;
  justify-content: center;
  padding: 1vh 1vw;
}
poker-card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  display: block;
  padding: 20px 0;
  flex: 0 0 50px;
  text-align: center;
  border-radius: 5px;
  font-family: courier;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0px;
  position: relative;
  border: 1px solid #ddd;
  color: #666;
  transition-duration: 0.4s;
  background: #fff;
  -webkit-animation: pop 0.4s;
          animation: pop 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
poker-card:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
poker-card:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
poker-card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
poker-card:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
poker-card:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
poker-card:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
poker-card:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
poker-card:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
poker-card:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
poker-card:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
poker-card:after,
poker-card:before {
  position: absolute;
  color: #000;
  font-size: 22px;
}
poker-card:after {
  top: -7px;
  right: 2px;
}
poker-card:before {
  bottom: -7px;
  left: 2px;
}
.♣:before,
.♣:after {
  content: '♣';
}
.♠:before,
.♠:after {
  content: '♠';
}
.♦:before,
.♦:after {
  content: '♦';
}
.♥:before,
.♥:after {
  content: '♥';
}
.♦:before,
.♦:after {
  color: #f00;
}
.♥:before,
.♥:after {
  color: #f00;
}
poker-card:nth-child(1) {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
poker-card:nth-child(2) {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
poker-card:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
poker-card:nth-child(4) {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
poker-card:nth-child(5) {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.table th, .table td {
    padding: .5rem .5rem;
}

th.topmaincell {
    vertical-align: middle!important;
    transform: rotate(-45deg)
}

.table th.colmaincell {
    border-top: 0px solid #000!important;
    border-right: 1px solid #242424;
    width: 17%;
}

.table th.noborder {
    border-top: 0px solid #000!important;
}

.table th.squareft {
    width:8.3%;
}

.table td.lastcell {
    border-radius: 0rem 0rem 0.25rem 0rem
}

.PKRhit {
    background-color: #c3e6cb;
    color: #0e3c19;
    border-top: 0px solid #000!important;
}

.PKRstand {
    background-color: #f5c6cb;
    color: #4f1319;
    border-top: 0px solid #000!important;
}

.PKRstand4 {
    background-color: #ce7d86;
    color: #4f1319;
    border-top: 0px solid #000!important;
}

.PKRstand5 {
    background-color: #9f5b62;
    color: #4f1319;
    border-top: 0px solid #000!important;
}

.PKRsplit {
    background-color: #ffeeba;
    color: #5c4503;
    border-top: 0px solid #000!important;
}

.PKRdouble {
    background-color: #bee5eb;
    color: #083a42;
    border-top: 0px solid #000!important;
}

.PKRdouble4 {
    background-color: #3da9ba;
    color: #083a42;
    border-top: 0px solid #000!important;
}

.PKRcontenthit::before {
    content: 'H';
}
.PKRcontenthit.active::before {
    background-color: #c3e6cb!important;
    color: #0e3c19!important;
}

.PKRcontentstand::before {
    content: 'St';
}
.PKRcontentstand.active::before {
    background-color: #f5c6cb!important;
    color: #4f1319!important;
}

.PKRcontentstand4::before {
    content: 'S4';
}
.PKRcontentstand4.active::before {
    background-color: #ce7d86!important;
    color: #4f1319!important;
}

.PKRcontentstand5::before {
    content: 'S5';
}
.PKRcontentstand5.active::before {
    background-color: #9f5b62!important;
    color: #4f1319!important;
}

.PKRcontentsplit::before {
    content: 'Sp';
}
.PKRcontentsplit.active::before {
    background-color: #ffeeba!important;
    color: #5c4503!important;
}

.PKRcontentdouble::before {
    content: 'D';
}
.PKRcontentdouble.active::before {
    background-color: #bee5eb!important;
    color: #083a42!important;
}

.PKRcontentdouble4::before {
    content: 'D4';
}
.PKRcontentdouble4.active::before {
    background-color: #3da9ba!important;
    color: #083a42!important;
}